@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@500&family=Rajdhani:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
    background-color: rgb(86, 156, 225);
    background-size:75px 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    font-family: 'Rajdhani', sans-serif;
}
.pond{
    width: auto;
    height: auto;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: rgba(24, 133, 24, 0.487) 10px solid;
    border-radius: 0.5rem;
}
.space{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.water{
    height: 100px;
    width: 100px;
}
.water-lily_hover{
    background-color: rgb(3, 107, 73, 0.5);
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
}
.water-lily_place{
    background-color: rgb(255, 2, 2);
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
}
.frog{
    position: absolute;
    aspect-ratio: 1;
    height: 75px;
}
.fly{
    position: absolute;
    aspect-ratio: 1;
    height: 75px;
}
.rotate {
    animation: rotation 4s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
}
.text{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text h1{
    font-size: xxx-large;
    background-color: rgb(64, 157, 64);
    color: aliceblue;
    padding: 0 30px;
}
.text p{
    font-size: x-large;
}

.start{
    width: 200px;
}
.start .btn-start{
    border: none;
    border-radius: 15px;

    font-family: 'Rajdhani', sans-serif;
    font-size: xx-large;
    padding: 5% 30%;
    cursor: pointer;

    background-color: rgb(64, 157, 64);
    color: aliceblue;
}